.container {
  position: relative;
  max-width: 1048px;
  margin: 5em auto;

  height: 200px;
  overflow: hidden;
  display: flex;
}

.box {
  position: relative;
  flex: 1 0 122px;
  transition: all 0.5s ease-out 0.2s;
}

.box span {
  width: 50px;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box:hover {
  flex: 1 0 23.2%;
}

.box:not(:last-child) {
  margin-right: 12px;
}

img {
  border-radius: 6px;
  width: 100%;
  height: 90%;
  object-fit: cover;
}
