* {
  box-sizing: border-box;
}
:root {
  --blue: cornflowerblue;
  --red: crimson;
}
.card {
  background-color: antiquewhite;
  margin: 4px 0;
  padding: 16px;
}

.button {
  background-color: white;
  padding: 8px 16px;
  border: 1px solid;
}

.blue {
  border-color: var(--blue);
  color: var(--blue);
}

.red {
  border-color: var(--red);
  color: var(--red);
}

input,
label {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
input {
  padding: 8px;
}
