* {
  box-sizing: border-box;
}
:root {
  --blue: cornflowerblue;
  --red: crimson;
}
.card {
  margin: 4px 0;
  padding: 16px;
}

.button {
  background-color: white;
  padding: 8px 16px;
  border: 1px solid;
  margin: 2px;
  cursor: pointer;
}

.blue {
  border-color: var(--blue);
  color: var(--blue);
}

.red {
  border-color: var(--red);
  color: var(--red);
}

.start {
  width: 100%;
}

input,
label {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
input {
  padding: 8px;
  border: 1px solid silver;
}

.border {
  border: 1px solid silver;
}

.header.main {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.header.sub {
  color: gray;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.fa {
  margin: 4px;
  cursor: pointer;
}
